/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}



.carousel-item {
  position: relative;
  height: 80vh; /* Altura del carrusel, puedes ajustar según tus necesidades */
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel-item .container {
  position: relative;
  z-index: 2;
}

#imgCarrusel1{
  background-image: url('./resources/carrusel1.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(255, 255, 255);
}
#imgCarrusel2{
  background-image: url('./resources/carrusel2.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(246, 238, 170);

}
#imgCarrusel3{
  background-image: url('./resources/carrusel3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(194, 194, 194);
}

.carousel-caption {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.carousel-caption h1 {
  font-size: 3rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 1.5rem;
}
.carousel-caption .btn {
  font-size: 1.25rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-justify {
  text-align: justify;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

.rounded-circle {
  border: 2px solid #ddd;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Estilos para los botones */
.main h1 {
  font-size: bolder;
  color: rgb(136, 136, 136);
  text-align: center;
}

.main {
  text-align: center;
}

.grid-container {
  display: grid;
  padding: 20px 60px 20px 60px;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.grid-item {
  background-color: #68a25f;
  color: white;
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer; /* Añadido */
}

.grid-item span {
  margin-top: 10px;
}

.btn-person {
  background-color: #61bdff;
}
.btn-person:hover {
  background-color: #61bdffaf;
}
.btn-receipt {
  background-color: #278cd3;
}
.btn-receipt:hover {
  background-color: #278cd3af;
}
.btn-coin {
  background-color: #1ba43d;
}
.btn-coin:hover {
  background-color: #1ba43daf;
}
.btn-clock-history {
  background-color: #2bdeae;
}
.btn-clock-history:hover {
  background-color: #2bdeaeaf;
}
.btn-receipt-cutoff {
  background-color: #e9d044;
}
.btn-receipt-cutoff:hover {
  background-color: #cfd470af;
}
.btn-cash-coin {
  background-color: #ff9767;
}
.btn-cash-coin:hover {
  background-color: #ff9767af;
}
.btn-info-circle-fill {
  background-color: #ff8ee5;
}
.btn-info-circle-fill:hover {
  background-color: #ff8ee5af;
}
.btn-download {
  background-color: #c348bd;
}
.btn-download:hover {
  background-color: #c348bdaf;
}
.btn-gear {
  background-color: #ff6464;
}
.btn-gear:hover {
  background-color: #ff6464af;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.fun-text {
  animation: rainbow 5s infinite alternate, wave 1s infinite;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#resultadosClientes li {
  cursor: pointer;
}

#resultadosClientes li:hover {
  background-color: #d3d3d3; 
}

/* Estilos para el modo de alto contraste */
.high-contrast-mode {
  background-color: black;
  color: white;
}

.high-contrast-mode a {
  color: yellow;
}

.high-contrast-mode h1 {
  color: white;
}

/* Estilos para tamaño de letra */
.large-font-size {
  font-size: 1.5em;
}

.default-font-size {
  font-size: 1em; /* Valor predeterminado, ajustar según sea necesario */
}

/* Estilos para aumentar espaciado entre letras */
.increased-letter-spacing {
  letter-spacing: 0.1em; /* Ajustar según sea necesario */
}

/* Estilos para desactivar animaciones */
.no-animations * {
  animation: none !important;
  transition: none !important;
}

/* Estilos para colores accesibles */
.accessible-colors {
  background-color: #f5f5f5; /* Color de fondo claro */
  color: #333; /* Texto oscuro */
}

.accessible-colors a {
  color: #0066cc; /* Color de enlace accesible */
}

/* Estilos para aumentar el tamaño del puntero */
.large-pointer {
  cursor: url('./resources/punteroGrande.cur'), auto; /* URL del puntero personalizado */
}
